<% provide(:title, 'About') %>
<% provide(:button_text, 'About') %>
<div class="home">
　<div class="content">
　　<h1>What's Map.inc?</h1>
　</div>
　　<section class="our-services">
　　    <div class="services">
　　        <h1>Our Services</h1>
　　     <p>世界中にある地図を集約して人生を効率化したい。
　　     </p>
　　     <p>誰かが作った地図があなたを救う
　　     </p>
　　    </div>
　　</section>