<div class="banner">
　<div class="content">
　　<h1>Welcome Map.inc</h1>
　</div>
</div>
</div>
<section class ="about">
    <div class="about-content">
        <h2>About</h2>
        <h3>忙しい日々・不安な日々が続くからこそ。誰かが書いた地図を必要とする</h3>
        <p>私</p>
    </div>
　　<div class="card1">
　　    <i class="fas fa-map-marked-alt fa-8x"></i>
　　</div>
</section>
　　<section class="our-services">
　　    <div class="services">
　　        <h1>Our Services</h1>
　　     <p>世界中にある個人・企業関係なく製作された施設や公園・商店街・中心街などを集約あなたが欲しい時に欲しい地図をスマホに表示する事ができます。オリジナルのマップもあるので地域の情報もしっかりマップに反映できる。
　　     </p>
　　    </div>
　　    
　　    <div class="card2"></div>
　　    
　　</section>
</section>