<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'アカウント作成する') %>
<div class="signup-page">
<div class= "signup-form">
  <div class="input-form">
    <h1 class="signup-logo">Sign up</h1>
      <div class="input-form">
        <%= render 'form' %>
      </div>
  </div>
</div>
</div>